table {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.me {
background-color: rgba(153, 154, 241, 0.438);
border-style: outset;
border-radius: 15px;
padding: 5px;
}
table.pro {
    width: 800px
    
}
.mazie {
    font-family: Times, serif;
    font-size: 11px;
    background-color: rgba(146, 145, 145, 0.548);
}
.Name {
    font-family: Helvetica;
    font-size: 30px;
}
td.Work {
    font-family: Helvetica;
    font-size: 20px;
}
td.school {
    font-family: Times, serif;
    font-size: 10px;
    background-color: rgba(146, 145, 145, 0.548);
    width: 200px
}
.school1 {
    font-size: 12px;
    font-family: sans-serif;
}
td.line {
    border-style: inset;
    height: 1px;
}
td.kontakti {
    text-align: center;
}
th {
    text-align: left;
    font-size: 15px;
    
}