table.First{
    
    text-align: left;
    margin-left: 10px; 
    margin-right: 800px;
    font-family: 'Trebuchet MS';

}
table.second{
    text-align: left;
    margin-left: 10px; 
    margin-right: 300px;
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(193, 157, 226);
}
table.three{
    text-align: left;
    background-color: rgb(157, 198, 226);
}
th{
    padding: 10px;
    vertical-align: top;
}
tr{
    padding: 100px;
}
h1{
    text-align: center;
}