table.First{
    text-align: middle;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid black;

}
th {
    height: 20px;
    width: 20px;
}
  th.Col {
      background-color: rgba(100, 100, 100, 0.39);
  }
  h1{
      text-align: center;
  }